<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETECIA Matrícula - doenças contagiosas</title>
    <link rel="stylesheet" th:href="@{~/style.css}">

</head>

<body>

    <body class="antialiased">
        <div class="container-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-clipboard-plus">
                <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
                <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2" />
                <path d="M9 14h6" />
                <path d="M12 17v-6" />
            </svg>
            <h1 class="text-xl text-gray-600 text-center">Doenças Contagiosas</h1>

            <p class="desc">
                Tem alguma das doenças contagiosas abaixo? Selecione todas que se aplicam.
            </p>

            <form th:action="@{/ficha-medica/contagiosas}" method="post">
                <div class="grid-auto">

                    <div class="switch-content">
                        <input type="checkbox" id="sarampo" name="sarampo"/>
                        <label class="switch" for="sarampo">
                            <span class="slider"></span>
                        </label>
                        <span>sarampo</span>
                    </div>
                    <div class="switch-content">
                        <input type="checkbox" id="coqueluche" name="coqueluche"/>
                        <label class="switch" for="coqueluche">
                            <span class="slider"></span>
                        </label>
                        <span>coqueluche</span>
                    </div>
                    <div class="switch-content">
                        <input type="checkbox" id="rubeola" name="rubeola"/>
                        <label class="switch" for="rubeola">
                            <span class="slider"></span>
                        </label>
                        <span>rubéola</span>
                    </div>
                    <div class="switch-content">
                        <input type="checkbox" id="catapora" name="catapora"/>
                        <label class="switch" for="catapora">
                            <span class="slider"></span>
                        </label>
                        <span>catapora</span>
                    </div>
                    <div class="switch-content">
                        <input type="checkbox" id="tuberculose" name="tuberculose"/>
                        <label class="switch" for="tuberculose">
                            <span class="slider"></span>
                        </label>
                        <span>tuberculose</span>
                    </div>
                    <div class="switch-content">
                        <input type="checkbox" id="caxumba" name="caxumba"/>
                        <label class="switch" for="caxumba">
                            <span class="slider"></span>
                        </label>
                        <span>caxumba</span>
                    </div>
                    
                </div>

                <button type="submit" class="button" id="button_start" >
                    próximo
                </button>
            </form>

            <div class="steps">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="active"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>

    </body>

    <script>

       

    </script>

</html>