<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETECIA Matrícula - observações</title>
    <link rel="stylesheet" th:href="@{~/style.css}">

</head>

<body>

    <body class="antialiased">
        <div class="container-center">
            
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle"><path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"/></svg>
            <h1 class="text-xl text-gray-600 text-center">Observações</h1>

            <p class="desc">
                Outras informações consideradas relavantes pelo responsável.
            </p>

            <form th:action="@{/ficha-medica/observacoes}" method="post">

                <div class="input-group">
                    <input type="text" name="qual" id="observacoes" placeholder="digite uma observação" class="input">
                </div>
                
                   
                <button type="submit" class="button" id="button_start" >
                    finalizar
                </button>
            </form>

            <div class="steps">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="active"></div>
            </div>

        </div>

    </body>

    <script>

      


       

    </script>

</html>