<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETECIA Matrícula - bloqueado</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <body class="antialiased">
        <div class="container-center">
            <h1 class="text-xl text-gray-600 text-center">Matrícula Bloqueada</h1>
    
            <p class="desc">
                Você não pode alterar os dados da sua matrícula.
            </p>
            <p class="desc">
                A secretaria já está trabalhando nos dados que você enviou.
            </p>
            <p class="desc">
                Se precisar alterar alguma informação entre em contato com a secretaria.
            </p>
        </div>
    
</body>

<script>
   
</script>

</html>