<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETECIA Matrícula - identificafimção</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <body class="antialiased">
        <div class="container-center">
            <h1 class="text-xl text-gray-600 text-center">Fim</h1>
    
            <p class="desc">
                Obrigado pelas informações 🎉
            </p>
           
        </div>
    
</body>

<script>
    
</script>

</html>